@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}



.lower-section{
  margin-top: -150px;
  position: relative;
  display: flex;
  gap: 30px;
}



.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}




.checkmark {
 
  position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}
.checkmark-ques {
 
  position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
}

input:checked ~ .checkmark:after {
  display: block;
}
input:checked ~ .checkmark-ques:after {
  display: block;
}

.checkmark:after {
  left: 6px !important;
  top: 1px !important;
  width: 7px !important;
  height: 13px !important;
  border: solid white;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
.checkmark-ques:after {
  left: 6px !important;
  top: 1px !important;
  width: 7px !important;
  height: 13px !important;
  border: solid #62D18D;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

.switch{
  position: relative;
}


input:checked ~ .checkmark {
  background-color: #62D18D;
}

input:checked ~ .checkmark-ques {
  background-color: white;
}

#btn-signup {
    /* background-color: #3271b3; */
    background-image: linear-gradient(#62d18d, #1b904e);
    padding: 10px 20px;
  }

.bg-image img{
    height: 226px;
    width: 100%;
    position: relative;
    z-index: -1;
    
}



.text-color{
    color: #4F596A;
}

.price-color{
    color: #62D18D;
}

.primary-btn{
    width: 100%;
    background-color: #62D18D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 3%;
}

nav{
    background-image: linear-gradient(#62d18d, #1b904e);
}

.sign-in-btn{
    border: 2px solid white;
    background-image: linear-gradient(#62d18d, #1b904e);
    padding: 2px;
    color: white;
}


/* footer */

.footer{
    margin-top: 50px;
    padding: 70px 0px 30px 0px;
    background: #4A4949;
    color: #ccc6c6;
  }
  
  .reserved{
    margin-left: 150px;
  }


  .grey-text-color{
    color: #7C7C7C;
  }

  .bold-text-color{
    color: #242424;
  }

  .color-2c2c{
    color: #2C2C2CBF;
    font-weight: 600;
  }