@media screen and (max-width: 575px){


    .dashboard{
        display: none;
    }

    .user-james{
        display: flex;
        flex-direction: column;
    }

    .photo-name{
        flex-direction: column;
    }
    
    .buttons{
        flex-direction: column;
        padding-right: 0;
    }
    
    .cancel-btn{
        width: 100%;
    }

    .save-btn{
        width: 100%;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .dashboard{
        display: none;
    }

}
@media screen and (min-width: 768px) and (max-width: 991px) {

    .dashboard{
        display: none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .dashboard{
        display: none;
    }
    
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
}